{% extends "main.html" %}

{% block htmltitle %}
  <title>Pepe Docs</title>
{% endblock %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ '/assets/stylesheets/home.css' | url }}">
{% endblock %}

{% block content %}
  <div>
    <div class="hero">
      <div class="hero-content">
        <h1>Pepe Documentation</h1>
        <p>Welcome to Pepe Docs, where we explore the absolutely bizarre and utterly fantastical world of Pepe, from rarest Pepes to the secret Pepe handshake. It's so exclusive that even Bigfoot is jealous of our documentation!</p>
      </div>
    </div>

    <div class="featured-content">
      <div class="feature">
        <img src="./assets/images/pepe-learn.jpeg" alt="Feature 1">
        <h2>Learn the Basics</h2>
        <p> In this section, you'll access a treasure trove of foundational knowledge and introductory content carefully curated to help newcomers grasp the essential concepts, core principles, and fundamental terminology that serve as the building blocks of your development journey.</p>
        <a href="/learn" class="btn">Learn More</a>
      </div>

      <div class="feature">
        <img src="./assets/images/pepe-build.jpeg" alt="Feature 2">
        <h2>Get Coding</h2>
        <p>Discover comprehensive guides on creating your own projects, understanding API endpoints, and harnessing the power of development libraries and APIs, equipping you with the knowledge and tools to bring your innovative ideas to life.</p>
        <a href="/builders" class="btn">Learn More</a>
      </div>

      <div class="feature">
        <img src="./assets/images/pepe-tutorials.jpeg" alt="Feature 3">
        <h2>Browse Tutorials</h2>
        <p>Explore a vast collection of step-by-step tutorials covering a wide range of topics and technologies, designed to guide both beginners and experienced developers through various tasks and projects, ensuring you acquire the knowledge and expertise you need.</p>
        <a href="/tutorials" class="btn">Learn More</a>
      </div>
    </div>
  </div>
{% endblock %}